[Interface]
Address = {{ vpn_ip }}
PrivateKey = {{ private.content | b64decode | trim }}
{% if wireguard_post_up %}
PostUp = {{ wireguard_post_up }}
{% endif %}
{% if wireguard_post_down %}
PostDown = {{ wireguard_post_down }}
{% endif %}
ListenPort = {{ wireguard_port }}
{% if wireguard_mtu is defined %}
MTU = {{ wireguard_mtu }}
{% endif %}

{% for node in play_hosts %}
{% if inventory_hostname != hostvars[node]['inventory_hostname'] %}
[Peer]
PublicKey = {{ hostvars[node].public.content | b64decode | trim }}
AllowedIPs = {{ hostvars[node].vpn_ip }}
Endpoint = {{ hostvars[node]['ansible_host'] | default(hostvars[node]['inventory_hostname']) }}:{{ wireguard_port }}

{% endif %}
{% endfor %}

{% if client_vpn_ip | length > 0 %}
[Peer]
PublicKey = {{ client_publickey.content | b64decode | trim }}
AllowedIPs = {{ client_vpn_ip }}
{% endif %}

{% if wireguard_additional_peers  %}
{% for node in wireguard_additional_peers %}
# {{ node.comment  }}
[Peer]
PublicKey = {{ node.key }}
AllowedIPs = {{ node.ip }}
{% if node.endpoint is defined %}
Endpoint = {{ node.endpoint }}
{% endif %}
{% if node.keepalive is defined %}
PersistentKeepalive = {{ node.keepalive }}
{% endif %}

{% endfor %}
{% endif %}