route:
  receiver: 'apollo'

receivers:
- name: 'apollo'
  email_configs:
    - to: '{{ arc['alerts']['mail']['to'] | default(arc['providers']['letsencrypt']['mail'],true) }}'
      from: 'apollo@{{ arc['space']['space_domain'] }}'
      smarthost: '{{ apollo_manager }}:25'
      hello: '{{ arc['space']['space_domain'] }}'
      require_tls: false{% raw %}  
      text: '{{ .CommonAnnotations.description }}'
      html: '{{ template "email.default.html" . }}'{% endraw %}
      
{% if arc['alerts']['slack']['enabled']|bool %}
  slack_configs:
  - send_resolved: true{% raw %}  
    text: '{{ .CommonAnnotations.description }}'{% endraw %}
    username: "{{ arc['space']['space_domain'] }}"
    channel: "{{ arc['alerts']['slack']['channel'] }}"
    api_url: "{{  arc['alerts']['slack']['api_url'] }}"
{% endif %}
