#!/usr/bin/env bash
# shellcheck disable=SC1091

set -eo pipefail
[[ $DEBUG ]] && set -x

FPREFIX="=====>"
PREFIX="----->"
INDENT="      "

echo "$PREFIX Repository received"
REPO_SRC=$PWD
REPO_BASE=$(basename "$REPO_SRC")
REPO_NAME=${REPO_BASE/.git/}
REPO_DEST={{ app_dir }}/data/$REPO_NAME
# COMMIT_HASH=$(git rev-parse --short=6 HEAD)

[[ $REPO_NAME == "" ]] && exit 1

if [ -d "$REPO_DEST" ]; then
  echo "$PREFIX Repository $REPO_NAME already exists"
  echo "$PREFIX Pulling changes"
  pushd "$REPO_DEST" >/dev/null
  unset GIT_DIR
  git pull || exit 1
  popd >/dev/null
else
  echo "$PREFIX Cloning repository $REPO_NAME"
  git clone -q "$REPO_SRC" "$REPO_DEST" || exit 1
  chown -R "git:git" "$REPO_SRC" "$REPO_DEST"
fi

# TODO: On docker error, abort git push.
# Now it pushes successfully even when a deployment fails
#[[ $REPO_NAME == "deployer" ]] && exit 0

# TODO: accept and deploy CI builds
#swarmlet deploy "$REPO_DEST" || exit 1

{{ app_dir }}/bin/shipmate deploy "$REPO_DEST" || exit 1

exit 0