export APOLLO_VERSION={{ arc['space']['version'] }}
export APOLLO_BASE_DOMAIN={{ arc['space']['base_domain'] }}
export APOLLO_SPACE_DOMAIN={{ arc['space']['space_domain'] }}
export APOLLO_VOLUMES_DIR={{ arc['data']['volumes_dir'] }}
export RESTIC_PASSWORD={{ arc['addons']['backup']['password'] }}
export RESTIC_REPOSITORY={{ arc['addons']['backup']['repository'] }}
export AWS_ACCESS_KEY_ID={{ arc['addons']['backup']['aws_access_key_id'] }}
export AWS_SECRET_ACCESS_KEY={{ arc['addons']['backup']['aws_secret_access_key'] }}
{% if arc['addons']['registry']['enabled'] %}
export APOLLO_REGISTRY_EXTERNAL_URL=registry.{{ arc['space']['space_domain'] }}
export APOLLO_REGISTRY_URL={{ apollo_manager }}:5000
export APOLLO_REGISTRY_USER={{ arc['auth']['admin_user'] }}
export APOLLO_REGISTRY_PASSWORD={{ arc['auth']['admin_password'] }}
{% endif %}